body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
p{
    margin: 0 !important;
}

.ml-auto {
    margin-left: auto !important;
}

.ml-1 {
    margin-left: 1rem;
}
.ml-2{
    margin-left: .5rem;
}

.card{
    border-radius: 10px !important;
}

.bg-abu-abu{
    background-color: #EEEEEE;
}

.card-footer{
    border-radius: 10px !important;
    /* padding: 4rem auto ; */
}

.bagian{
    margin: 5rem 0 !important;
}
.bagian-blog{
    margin: 2.5rem 0;
}

.iconify {
    width: 30px;
    height: 30px;
}

.maps {
    width: 100%;
    height: auto;
}

.text-1 {
    line-height: 2.5rem;
    font-size: 90px;
}

.text-2 {
    line-height: 2.5rem;
    font-size: 46px;
    font-weight: 500;
}

.text-3 {
    line-height: 2.5rem;
    font-size: 24px;
    font-weight: 500;
}

.text-4 {
    line-height: 2.5rem;
    font-size: 18px;
    font-weight: 500;
}

.text-5 {
    line-height: 1.5rem;
    font-size: 16px;
}
.text-6 {
    line-height: 2.5rem;
    font-size: 14px;
}

.text-judul{
    font-size: 30px;
    font-weight: 500;
}

.text-judul-blog{
    margin-top: 1.5rem;
    font-size: 30px;
    font-weight: 500;
}
.text-blog{
    font-size: 16px;
    line-height: 30px;
}

.text-link {
    color: #ffffff;
    text-decoration: none;
}

.text-link:hover {
    color: #ffffff;
    opacity: 80%;
    text-decoration: underline;
}

@media(max-width: 1024px) {
    .text-1 {
        font-size: 80px;
    }
    .text-judul-blog{
        font-size: 25px;
    }
    .text-judul{
        font-size: 25px;
    }
}

@media(max-width: 960px) {
    .text-5 {
        font-size: 14px;
    }

    .text-4 {
        font-size: 16px;
    }

    .text-3 {
        font-size: 20px;
    }

    .text-2 {
        font-size: 38px;
    }
    .text-1 {
        font-size: 75px;
    }
    .text-judul-blog{
        font-size: 25px;
    }
    .img-event{
        height: 20rem !important;
    }
}

@media(max-width: 720px) {
    .text-3 {
        font-size: 20px;
    }
    .text-2 {
        font-size: 36px;
    }
    .text-1 {
        font-size: 70px;
    }
    .text-judul-blog{
        font-size: 24px;
        margin-top: 1rem;
    }
    .center-item {
        top: 30%;
    }
    .img-event{
        height: 15rem !important;
    }
}

@media(max-width: 540px) {
    .bagian-blog{
        margin: 1.5rem 0;
    }
    .text-3 {
        font-size: 18px;
    }

    .text-2 {
        font-size: 24px;
    }
    .text-1 {
        font-size: 60px;
    }
    .text-judul-blog{
        font-size: 20px;
        margin-top: .5rem;
    }
    .text-judul{
        font-size: 20px;
    }
    .center-item {
        top: 25%;
    }
    .img-event{
        height: 14rem !important;
    }
}
/* pengumuman */
.pengumuman{
    display: flex;
    padding: .5rem 0;
    background-color: #eeeeee;
}
/* pengumuman end */
/* Hero */
.hero {
    margin: 8rem 0;
}

.hero-img {
    width: 100%;
    height: auto;
    position: relative;
}

.hero-utama {
    height: 550px;
    width: 100%;
}
/* Hero end */

/* Sejarah */
.sejarah{
    padding: 1rem;
    background-color: #df404010;
    border-radius: 5px;
}
/* Sejarah end */

/* Event */
.bayangan {
    box-shadow: 5px 5px #00000036;
}

.bayangan:hover {
    box-shadow: 5px 5px #00000083;
}

.icon-event {
    max-width: 250%;
    height: 250%;
    opacity: 25%;
    color: #000000;
}
/* Event end */

/* Agenda */

/* swipper */
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
/* swipper end */

/* Agenda end */
/* kegiatan */
.img-kegiatan{
    width: 225px;
    height: 150px;
    margin: 1rem 0;
}
/* kegiatan end */
/* Galeri */
.galeri{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffffad;
}
.text-galeri, .galeri:hover{
    transition: ease-in .5s;
    opacity: .2;
}
.card-img{
    border-radius: 10px;
}
.card-gambar{
    width: 350px;
    height: 250px;
}
/* Galeri end */

/* kritik */
.kritik{
    border-radius: 10px;
    padding: 1rem 2rem;
    border: #df4040bb solid 1px;
    box-shadow: #df4040bb 4px 4px;
}
/* kritik end */
/* blog */
.rekomendasi:hover{
    background-color: #ffffff83;
}
.text-link-blog{
    color: #DF4040;
}
.text-link-blog:hover{
    color: #5e0808;
}
/* blog end */
/* Semua */
.icon-prev{
    color: #DF4040;
    width: 40px;
    height: auto;
}
.icon-prev:hover{
    color: #5e0808;
}
/* Semua end */
/* Galeri */
.galeri-preview{
    opacity: 0.8; 
    cursor: pointer; 
}
.galeri-preview:hover{
    opacity: 1; 
}
.swiper-galeri {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
/* swipper end */
/* Galeri end */

/* Event */
.img-event{
    height: 25rem;
    width: 100%;
}
.hero-event img {
    object-fit: cover;
    width: 100%;
    height: 30rem;
}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/* Event End */





@media(max-width: 1200px) {
    .img-kegiatan{
        width: 180px !important;
        height: 125px !important;
    }
    .card-gambar{
        width: 300px;
        height: 200px;
    }
    .hero-utama {
        height: 500px;
    }
}

@media(max-width: 960px) {
    .hero-utama {
        height: 450px;
    }
    .iconify {
        width: 25px;
        height: 25px;
    }
}

@media(max-width: 720px) {
    .img-kegiatan{
        width: 200px !important;
        height: 150px !important;
    }
    .card-gambar{
        width: 250px;
        height: 150px;
    }
    .hero-utama {
        height: 400px;
    }
    .iconify {
        width: 25px;
        height: 25px;
    }
}

@media(max-width: 540px) {
    .img-kegiatan{
        width: 150px !important;
        height: 100px !important;
    }
    .card-gambar{
        width: 180px;
        height:100px;
    }
    .hero-utama {
        height: 300px;
    }
    .iconify {
        width: 25px;
        height: 25px;
    }
}

@media(max-width: 400px) {
    .card-gambar{
        width: 160px;
        height:100px;
    }
    .hero-utama {
        height: 250px;
    }
}